.navbar-btn {
    float: right;
    width: 75px;
}

.link:active {
    background: #303030;
}


@media (max-width: 767px) {
    .navbar-btn {
        float: left;
    }
}       

.error {
    font-size: 18px;
    font-weight:300;
    transition: ;
}



.alert-container {
    height: 60px;
    position: absolute;
    top: 10%;
    /* left: 73vw;
    right: 2vw; */
    left: 2vw;
    width: 25vw;
    float: left;
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
}

#err-msg {
    width:20vw;
    margin-left: 1vw;
}


.alert {
    width: 25vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    height: 60px;
    background-color: #f44336;
    animation: fade 5s ease-out forwards;
    font-size: 24px;

}

@keyframes fade {
    0%, 100% { opacity: 0 }
    50% { opacity: 1 }
  }


.close-btn {
    float: right;
    margin: auto;
    height: 35px;
    text-align: center;
    line-height: 35px;
    width: auto;
    /* padding: 10px 7px 0px 7px; */
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: width 0.3s;
    /* transform: ease-in e; */
}

.close-btn:hover {
    color: black;
    background-color: rgb(255,255,255,0.4);
}