.navbar-btn {
    float: right;
    width: 75px;
}

.link:active {
    background: #303030;
}


@media (max-width: 767px) {
    .navbar-btn {
        float: left;
    }
}

.alert-container {
    height: 60px;
    position: absolute;
    top: 10%;
    /* left: 73vw;
    right: 2vw; */
    left: 2vw;
    width: 25vw;
    float: left;
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
}

.alert-container-left {
    height: 6vh ;
    position: absolute;
    top: 8vh;
    left: 73vw;
    right: 2vw;
    width: 25vw;
    float: right;
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
}



#err-msg {
    width: 20vw;
    margin-left: 1vw;
    margin-top: auto;

}

#err-msg-cont {
    height: 4vh;
    line-height: 4vh;
    margin-top:  1vh;
}

.alert-left {
    width: 25vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 6vh;
    line-height: 4vh;
    color: white;
    background-color: #f44336;
    animation: anim 4s ease-in-out both;
    font-size: 2.1rem;
    
}


@keyframes anim {
    0%,
    100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}



.alert {
    width: 25vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    height: 60px;
    opacity: 1;
    background-color: #f44336;
    font-size: 24px;
}


.close-btn {
    float: right;
    margin: auto;
    height:4vh;
    text-align: center;
    line-height: 4vh;
    width: auto;
    /* padding: 10px 7px 0px 7px; */
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: width 0.3s;
    /* transform: ease-in e; */
}

.close-btn:hover {
    color: black;
    background-color: rgb(255, 255, 255, 0.4);
}