<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/master.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/attendance.css') }}">

    <link rel="stylesheet" type="text/css" href="../static/styles/master.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/attendance.css">



</head>

<body>
    <div class="alert-container">
        <div class="alert">
            <p id="err-msg">Video Feed Started</p>
            <div class="close-btn" onclick="this.parentElement.style.display='none';">&times</div>
        </div>
    </div>
    
    {% block content %}
    <div class="alert-container-left">
        {% for message in get_flashed_messages() %}
        <div class="alert-left">
            <p id="err-msg">{{ message }}</p>
            <div class="close-btn" onclick="this.parentElement.style.display='none';">&times</div>
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin Panel</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="link active"><a href=/attendance >Attendance </a> </li> <li class="link" ><a href=/register>New
                            Employee</a> </li> <li class="link"><a href=/capture>Capture </a> </li> </ul> <a
                                href=/logout> <input class="btn btn-danger navbar-btn" type=”submit” value="logout"></a>
                                <a id="download-action" href="/download"><input
                                    class="btn btn-danger download navbar-btn" type="submit" value="download" /></a>
                            <!-- <button class="btn btn-danger navbar-btn" href="/logout" method="post">Logout</button> -->
        </div>
    </nav>
    <div class="content">
        <div class="card-out img-card">
            <div id="camera" class="card">
                <img src="{{ url_for('video_feed_attendance') }}" alt="video feed">
            </div>
        </div>
        <div class="content-review">
            <div class="card-out card-out-rev">
                <div class="card">
                    <div id="proj" class="container">
                        <h3 class="text"> Employee ID</h3>
                        <h3 class="res-box box" id="eid">NILL</h3>
                        <h3 class="text"> Employee Name</h3>
                        <h3 class="res-box box" id="ename">NILL</h3>
                        <h3 class="text">Entry Time </h3>
                        <h3 class="res-box box" id="entry-time">NILL</h3>
                        <h3 class="text"> Exit Time</h3>
                        <h3 class="res-box box" id="exit-time">NILL</h3>
                    </div>
                </div>
            </div>


            <form action="/manual" method="post">
                <div class="card-out card-out-rev">
                    <div class="card">
                        <div class="container">
                            <div class="fields">
                                <h3 class="text"> Employee ID</h3>
                                <input class="box" type="text" name="id" placeholder="ID" required="required" />
                                <h3 class="text"> Password</h3>
                                <input class="box" type="password" name="pwd" placeholder="Admin Password"
                                    required="required" />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="btn-box">
                    <!-- <a href=/override> <input class="button" value="Over-Ride" /></a> -->
                    <!-- <a> <input class="button" value="Manual Entry" /></a> -->
                    <button type="submit" onclick='error("successfully submitted")' class="button" name="button" value="Manual Entry">Manual Entry</button>

                </div>
            </form>


        </div>

    </div>
    <div class="footer">
        <h4 class="foot-text">Created by aditya29</h4>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $('.alert-container').fadeToggle();
        var alert_cls = this.document.getElementsByClassName("alert");
        var visib = $(".alert-container");
        var hid = $(".alert-container");

        function error (msg) {
            // $('.alert-container-left').fadeToggle();
            this.document.getElementById("err-msg").innerText = "Duplicate person Detected";
            $('.alert-container-left').delay(1000).fadeToggle();

        }

        function clear_text() {
            this.document.getElementById("eid").innerText = "Nill";
            this.document.getElementById("ename").innerText = "Nill";
            this.document.getElementById("entry-time").innerText = "Nill";
            this.document.getElementById("exit-time").innerText = "Nill";
            console.log("resetted");
            setTimeout(fetch_cont, 1200);
        }
        async function fetch_cont() {
            let result = await (fetch("/attendance_results"));
            let data = await (result.clone().json());

            if (data !== null) {
                this.document.getElementById("eid").innerText = data["id"];
                this.document.getElementById("ename").innerText = data["name"];
                this.document.getElementById("entry-time").innerText = data["entry"];
                if (data["dup"] == "True") {

                    $('.alert-container').fadeToggle();
                    $('.alert-container').delay(1000).fadeToggle();


                    console.log("duplicate detected");
                    this.document.getElementsByClassName("alert")[0].style.backgroundColor = "#f44336";
                    this.document.getElementById("err-msg").innerText = "Duplicate person Detected";
                    this.document.getElementById("exit-time").innerText = "NIll";

                } else {
                    $('.alert-container').fadeToggle();
                    $('.alert-container').delay(1000).fadeToggle();

                    this.document.getElementById("err-msg").innerText = "Attendance Registered !";
                    this.document.getElementsByClassName("alert")[0].style.backgroundColor = "green";
                    this.document.getElementById("exit-time").innerText = data["exit"];

                    console.log("no duplicate detected");
                }
                setTimeout(clear_text, 1700);

            } else {
                setTimeout(fetch_cont, 700);
            }
            console.log(data);

        }
        fetch_cont()
    </script>

</body>

</html>